<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/7370e38a-9bfd-4edf-b2b7-87c9283ffc52/resourceGroups/DNTRg/providers/Microsoft.ContainerRegistry/registries/DNTACR1</ResourceId>
    <ResourceName>DNTACR1</ResourceName>
    <ResourceGroup>DNTRg</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>https://dntacr1.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>ea3cc42b-03bc-4982-af24-0959deb02678</ProjectGuid>
  </PropertyGroup>
</Project>